---
import { sanityClient } from 'sanity:client'
import Layout from '../layouts/Layout.astro'
import '../styles/pages/projects.scss'

type Project = {
    title: string
    campaign?: string
    slug: string
    coverImageUrl?: string
    services?: string[]
}

const projects = await sanityClient.fetch<Project[]>(`
    *[_type == "project" && defined(slug.current)] | order(order asc) {
        title,
        campaign,
        "slug": slug.current,
        services,
        "coverImageUrl": coverImage.asset->url
    }
`)
---

<Layout activePage="projects">
    <section class="projects-index">
        <div class="projects-index__grid">
            {projects.map((project) => (
                <a href={`/projects/${project.slug}`} class="project-card">
                    {project.coverImageUrl && (
                        <img
                            src={project.coverImageUrl}
                            alt={project.title}
                            class="project-card__image"
                        />
                    )}

                    <div class="project-card__info">
                        <h2>{project.title}</h2>
                        {project.campaign && <p>{project.campaign}</p>}
                        {project.services && project.services.length > 0 && (
                            <p>{project.services.join(", ")}</p>
                        )}
                    </div>
                </a>
            ))}
        </div>
    </section>
</Layout>
